.wrapper-slider4 {
    position: relative;
    margin: auto;
    width: 80%;
}

.karta-back-zuta {
    margin: auto;
    height: 300px;
    width: 200px;
    background-image: url("./karta-back-zuta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.karta-front-veliko-m {
    margin: auto;
    height: 300px;
    width: 200px;
    background-image: url("./velikom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.karta-front-malo-m {
    margin: auto;
    height: 300px;
    width: 200px;
    background-image: url("./malom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
