.wrapper-slide5 {
    position: relative;
    width: 100%;
    height: 768px;
    background-image: url("./Picture6.jpg");
    background-repeat: no-repeat;
    background-position: center top;

}

.s5slovo1 {
    height: 100px;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 100px;
    background-image: url("./s5va.png");
}
.s5slovo2 {
    height: 100px;
    position: absolute;
    top: 360px;
    left: 730px;
    width: 100px;
    background-image: url("./s5va.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.s5slovo3 {
    height: 100px;
    position: absolute;
    bottom: 1px;
    left: 430px;
    width: 100px;
    background-image: url("./s5va.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}