.wrapper-slide2{
    position: relative;
    margin: auto;
    width: 500px;
    height: 300px;

}

.slovo1 {
    position: absolute;
    top: 55px;
    left: 250px;
}
.slovo2 {
    position: absolute;
    top: 130px;
    left: 110px;
}
.slovo3 {
    position: absolute;
    top: 130px;
    right: 85px;
}
.slovo4 {
    position: absolute;
    top: 245px;
    left: 35px;
}
.slovo5 {
    position: absolute;
    top: 245px;
    left: 180px;
}
.slovo6 {
    position: absolute;
    top: 245px;
    right: 155px;
}
.slovo7 {
    position: absolute;
    top: 245px;
    right: 10px;
}