.wrapper-slide11 {
    position: relative;
    margin: auto;
    width: 80%;
    height: 700px;

}

.s11slovo1 {
    position: absolute;
    width: 6%;
    margin-top: 30%;
    left: 20%;
}
.s11slovo2 {
    position: absolute;
    width: 6%;
    margin-top: 25%;
    left: 60%;
}
.s11slovo3 {
    position: absolute;
    width: 6%;
    margin-top: 35%;
    left: 85%;
}
