
.slovo1a {
    position: absolute;
    width: 9%;
    margin-top: 16%;
    left: 47%;
}
.slovo2a {
    position: absolute;
    width: 9%;
    margin-top: 25%;
    left: 29%;
}
.slovo3a {
    position: absolute;
    width: 9%;
    margin-top: 25%;
    right: 27%;
}
.slovo4a {
    position: absolute;
    width: 9%;
    margin-top: 42%;
    left: 17%;
}
.slovo5a {
    position: absolute;
    width: 9%;
    margin-top: 42%;
    left: 38%;
}
.slovo6a {
    position: absolute;
    width: 9%;
    margin-top: 42%;
    right: 34%;
}
.slovo7a {
    position: absolute;
    width: 9%;
    margin-top: 41%;
    right: 17%;
}
