.wrapper-slider4 {
    position: relative;
    margin: auto;
    width: 80%;
}

.cardback {
    margin: auto;
    height: 300px;
    width: 200px;
    background-image: url("./cardback.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cardfront {
    margin: auto;
    height: 300px;
    width: 200px;
    background-image: url("./cardfront.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.cardfront2 {
    margin: auto;
    height: 300px;
    width: 200px;
    background-image: url("./cardfront2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
