.wrapper-slider4 {
    position: relative;
    margin: auto;
    width: 80%;
}

.karta-back-ljubicasta {
    margin: auto;
    height: 300px;
    width: 200px;
    background-image: url("./karta-back-ljubicasta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.karta-front-veliko-a {
    margin: auto;
    height: 300px;
    width: 200px;
    background-image: url("./velikoa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.karta-front-malo-a {
    margin: auto;
    height: 300px;
    width: 200px;
    background-image: url("./maloa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
